/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;600&family=Noto+Serif&family=Outfit:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* Common style  */

.starting_head1{
    color:#21A900;
    font-family: 'Italianno', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 22px;
    margin-top:35px;
}
.starting_head2{
    color:#000000;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    margin:15px 35px;

}

/* Hero section style start here */
.container {
    background-color: #000000;
    width: 1365px;
    height: 700px;
    color: #ffffff;
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 181px;
    padding-left: 80px;
    padding-right: 20px;

}

.hero-content {
    width: 60%;
}

.hero-img {
    width: 40%;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 83px;

}

.hero-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 20px;

}

.btn {
    width: 200px;
    height: 63px;
    background-color: #21A900;
    color: #ffffff;
    border: none;
}

/* Majority menu style start here */

.maj-content-all span{
    color:#21A900;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Italianno', cursive;
    padding-bottom:20px;
}

.maj-content-all h3{
    color:#000000;
    font-size: 35px;
    font-weight:700;
    line-height: 52px;
    padding-bottom:20px;
}
.maj-content-all p{
    color:#646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom:20px

}


.majority-img-main{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:24px;
    padding-top:22px;
    padding-left:80px;
    
}

.maj-img1 img{
    width: 337px;
    height: 475px;
}
.img{
    width: 100%;
    
}

.majority-main{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:40px;
    padding-right: 200px;
}

 

.maj-content-val{
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.val span{
    color:#000000;
    font-size: 35px;
    font-weight: 700;
    line-height:41px;
    padding-top:12px;
    padding-bottom:12px;
}
.val p{
    color: #646464;
    font-size: 16px;
    font-weight: 500;
    line-height:21px;
    padding-top:12px;
    padding-bottom: 20px;
}

/* Populer Manu style start here */
.populer-main{
    background-color: #F7F8F6;
    width: 1365px;    
}
.populer-head {
    text-align: center;
    padding-top:35px;
    padding-bottom:35px;
}


.populer-card{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    justify-content: center;
    gap:20px;
    
    
    
}
.populer-card-menu{
    width: 370px;
    height: 520px;
    background-color: #ffffff;

}
.populer-card-menu img{
    width: 350px;
    height: 340px;
    border: none;
    border-radius: 5px;
    background-color: #F7F8F7;
    margin-top: 20px;
    margin-bottom:30xp;
    padding:10px;
}
.populer-card-menu p{
    color:#000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin:10px 0px;
}
.populer-card-menu span {
    color:#21A900;
    font-size:16px;
    font-weight: 28px;
    line-height: 28px;
}
.populer-card-menu del{
    color:#999999;
    font-size: 16px;
    font-weight:400;
    line-height: 28px;
    padding-right: 32px;
}
.populer-card-menu i{
    color:#EAB42B;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;   
}

/* Gellery section style start here */
.gallery_head{
    text-align: center;
}


.galery-img-main{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    align-items:center;
    justify-content:space-between;
    /* justify-content:center; */
    gap:18px;
    width:1365px;
}
.galery-img-main img{
    width:350px;
    height:350px;
    border:none;
}

/* How it work style start here */
.work-head{
    text-align: center;
}
.work-card-main{
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    gap:18px;
    width: 1365px;
}
.work-card{
    width: 416px;
    height: 300px;
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid #000000;
    background-color: #FFFFFF;
}
.btn-work {
    background-color: #21A900;
    width: 130px;
    height: 130px;
    border:none;
    border-radius: 50%;
    margin-top:46px;
    margin-bottom:15px;
}
.btn-work i{
    font-size: 50px;
    color:#ffffff;
    font-weight: 700;
}
.work-card p{
    color:#000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    margin-top:20px;
    
}
.work-card span{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 25px;
}

/* Contact us section style start here */
.contact-input1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content:center;
    gap:10px;
    text-align:center;
    padding-left:30px;

}
.contact-main{
    
    background-color: #21A900;
    text-align:center;
    /* width:640px; */
    height:460px;
    margin-top:45px;   
    position:relative;
    text-align: center;
    margin: 0 auto;  
    width:50%;  
    
    
}

.contact-main h4{
    color:#000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    padding-top:20px;
    padding-bottom:20px;
    text-transform: uppercase;
}
.contact-input1 input{
    width: 300px;
    height: 45px;
   
}
.contact-input textarea{
    width:680px;
    height: 150px;
    margin-top:20px;

  

}
#btn{
    width: 200px;
    height: 62px;
    background-color:#FFFFFF;
    border:none;
    margin-top: 15px;
}
#btn i{
    color:#0D1C37;
    font-size: 18px;
    padding-left:8px;
}
/* map style start here */
.map {
    background: url("../images/map.png");
    width:1365px;
    height: 380px;
    border:none;
    background-repeat: no-repeat;
    background-size:cover;
    
}

/* Foster section start here */
.foster-main{
    background-color:#EAB42B;
    width: 1365px;
    text-align: center;
    height:fit-content;
}
.foster-img-main{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}
.foster-head h2{
    color:#F7F8F6;
    font-size:48px;
    font-weight: 700;
    line-height: 52px;
    padding-top:20px;
}
.foster-head p{
    color:rgb(60, 44, 13);
    /* display: block; */
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height:28px;
    width:50%px;
    text-align: center;
    margin: auto;
    padding-top:20px;
    padding-bottom: 20px;
   

}
.foster-img{
    margin-top:45px;

}
.foster-img img{
    width:250px;
    height: 250px;
    border:5px solid #ffffff;
    border-radius: 50%;
}
.foster-img small{
    color:#0D1C37;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    display: inline;
    padding-top:18px;
}

/* Footer style start here */
.footer-mother{
    display:flex;
    align-items: center;
    justify-content:center;
    width: 1365px;
    height: 360px;
    background-color: #243021;
    color:#ffffff;
    padding-top:40px;
    gap:12px;
   
    
}
.footer-child1{
    width: 30%;
    padding-left: 23px;
}

.footer-child1 p{
    color:#21A900;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 20px;
}
.footer-child1 i{
    color:#ffffff;
    font-size: 40px;
    font-weight: 600;
    line-height: 32px;
    padding-right: 18px;
}
.footer-child1 span{
    font-size: 16px;
    font-weight: 400;
    line-height:28px;     
    
}


.social{
    display:flex;
    align-items:center;
    justify-content:left;
    gap:10px;
    padding-top:20px;
}

.btn-social{
    background-color:#F7F8F6;
    width: 35px;
    height: 35px;
    border:none;
    border-radius: 50%;

} 

.btn-social i{
    color:#000000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding:2px;
}

.footer-child2{
    display: flex;
    align-items:center;
    justify-content:space-between;
    text-align:left;
    gap:18px;
    width: 70%;
    padding-right: 45px;
}

.fot-chil h5{
    color:#21A900;
    font-size: 20px;
    font-weight: 700;
    line-height:28px;
    padding:20px;
}
.fot-chil  li{
    font-size:16px;
    font-weight:400;
    line-height:28px;
    list-style-type:none;

}



/* Footer band style start here */
.footer-band{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 1365px;
    height:65px;
    background-color: #21A900;
    padding:20px 200px;
    

}
.footer-band p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color:#ffffff;
}










